
/**
 * Basic styling
 */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
   }



/**
 * Site header
 */
header {
    display:flex;
    height:200px;
    padding: 30px; 
  .logo {
    img {
  }
    margin-right:30px;
  }
  nav {
    flex:1;
    ul {
      margin: 0;
      padding: 0;
      list-style:none;
      li {
        display:inline-block;
        font-size:20px;
        
        a {
          display:inline-block;
          color:#707070;
           padding:15px
        }
      
        &.active {
          a {
            background: #F8F5F1;
            font-weight:bold;
          }
      }
    }
  }
}
}
    
 
